*{
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
}

/* MAIN PRESENTATION */

.main{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url("../images/endless-constellation.svg");
}

.presentation{
    margin-left: 10vw;
}
.presentation > h1{
    font-size: 56px;
    animation: 
    typing 3s steps(35, end) forwards,
    blink-caret .75s step-end infinite;
}
#firstA.hide{
    border: none;
}
.presentation > h2{
    opacity: 0;
    font-size: 36px;
    max-width: 23ch;
}
#secondA.show{
    opacity: 1;
    animation: 
    typing 2s steps(20, end), 
    blink-caret .75s step-end infinite;
}
.txt-presentation{
    color: white;
    overflow: hidden;
    border-right: .15em solid white;
    white-space: nowrap;
    letter-spacing: .15em;
}

@keyframes typing {
    from {width: 0}
    to {width: 100%}
}
@keyframes blink-caret{
    from, to {border-color: transparent}
    50% {border-color: white}
}

/*NAVBAR*/
.navbar{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #88304E;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 80px;
}
#nav-list{
    display: flex;
}
#nav-list li{
    list-style: none;
    padding-right: 15px;
}
#nav-list li a{
    font-size: 24px;
    text-decoration: none;
    color: white;
    transition: color .5s ease;
}
#nav-list li a:hover{
    color: #F7374F;
    transition: color .5s ease;
}

/* ABOUT */
#about{
    display: flex;
    justify-content: center;
    height: 100vh;
}
#about > p{
    color: white;
    font-size: 40px;
    width: 60%;
    margin: 5%;
}
.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}
.hidden.visible{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* PROJECTS */
#projects{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}
.carrousel-container{
    position: relative;
    width: 45%;
}
.slides{
    display: none;
}
.slides img {
    opacity: 1;
    width: 100%;
    border-radius: 5px;
}
.slides img:hover{
opacity: 0.6;
}
.cursor{
    cursor: pointer;
}
.prev,.next{
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover,.next:hover{
    background-color: rgba(0, 0, 0, 0.8);
}
.txt-slide{
    color: white;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 5px;

}
.caption-contain{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    background-color: #88304E;
    color: white;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
.column{
    float: left;
    width: 16.66%;
}
.demo-slide{
    opacity: 0.6;
    width: 100%;
}
.active,.demo-slide:hover{
    opacity: 1;
}
/* CONTACT */

#contact{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.contact-contain{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}
.info{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}
.info label{
    color: white;
    font-size: 18px;
    padding: 5px;
}
.info textarea{
    font-size: 16px;
    height: 180px;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
.datacontact{
    height: 28px;
    font-size: 16px;
    padding-left: 5px;
    border-radius: 5px;
    border: none;
}
.contact-contain > h2{
    font-size: 56px;
    color: white;
    padding: 10px;
}
.contact-contain > p{
    color: white;
    font-size: 24px;
    padding: 10px;
}
.sendinfo{
    align-self: flex-end;
    margin-top: 10px;
    width: 15%;
    height: 36px;
    font-size: 18px;
    color: white;
    background-color: unset;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s ease;
}
.sendinfo:hover{
    cursor: pointer;
    background-color: #88304E;
    transition: all 0.3s ease;
}

/* Footer */

.footer{
    background-color: #88304E;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.footer ul{
    display: flex;
    list-style: none;
}
.footer li{
    margin: 0px 10px;
}
.footer img {
    height: 40px;
}
/* Main Background */
#main-contain{
    background-image: url("../images/rainbow-vortex.svg");
    background-size: cover;
}